<main>
	<%- include('../partials/donorSidebar') %>
    
	<div id="main-wrapper">
<div class="container">
    <div class="row my-4">
        <div class="col-lg-12">
            <div class="table-responsive">
                <table class="table table-striped text-center">
                    <thead>
                        <tr class="table-dark">
                            <th scope="col">#</th>
						<th scope="col">Food type</th>
						<th scope="col">Quantity</th>
						<th scope="col">Status</th>
						<th scope="col">Agent assigned</th>
						<th scope="col">Collection Time</th>
					</tr>
				</thead>
				<tbody>
					<% for(let i=0; i<previousDonations.length; i++) { %>
						<tr>
							<th scope="row"> <%= i+1 %> </th>
							<td> <%= previousDonations[i].foodType %> </td>
							<td> <%= previousDonations[i].quantity %> </td>
							<td class="fw-bold text-<%= previousDonations[i].status %>"> <%= previousDonations[i].status %> </td>
							<td> <%= previousDonations[i].agent.firstName + " " + previousDonations[i].agent.lastName %> </td>
							<td> <%= previousDonations[i].collectionTime.toLocaleString("en-IN", { dateStyle: "medium", timeStyle: "short"}) %> </td>
						</tr>
					<% } %>
				</tbody>
                </table>
            </div>
        </div>
    </div>
</div>
</div>
</main>
<%- include('../partials/footer') %>