<main>
<!-- listings.ejs -->
<%- include('../partials/agentSidebar') %>
<div id="main-wrapper">
    <div class="bg-white shadow-sm p-3">
        <span class="me-3" id="sidebar-toggler-btn"><i class="fas fa-bars"></i></span>
        <h5 class="m-0 color-theme d-inline-block">Available Donations</h5>
    </div>

    <div class="container mt-4">
        <!-- Assuming user.agentType is available in the template context -->
        <% const userAgentType = user.agentType; %>
        <% console.log("userAgentType: " + userAgentType); %>
        <!-- Loop through the donations and display information for each -->
        <% donations.forEach((donation) => { %>
            <% if (donation.donationType === userAgentType) { %>
                <div class="card mb-3">
                    <% const imageSrc = `/agent/donation/view/${donation._id}`; %>
                    <img src="<%= imageSrc %>"  alt="Donation Image" width="100" height="150">
                    <!-- <img src="<%= donation.image %>" class="card-img-top" alt="Donation Image"> -->
                    <div class="card-body">
                        <h5 class="card-title"><%= donation.foodType %> - <%= donation.quantity %></h5>
                        <p class="card-text">Expiry Date: <%= donation.expiryDate %></p>
                        <p class="card-text">Address: <%= donation.address %>, <%= donation.city %></p>
                        <!-- Add more details as needed -->
                        <a href="/agent/donation/view/<%= donation._id %>" class="btn btn-primary">View</a>
                    </div>
                </div>
                <% console.log(donation.donationType); %>
            <% } %>
        <% }); %>
    </div>
    
    
    

</main>




