<main>
	<%- include('../partials/agentSidebar') %>
    
	<div id="main-wrapper">
<div class="container">
    <div class="row my-4">
        <div class="col-lg-12">
            <div class="table-responsive">
                <table class="table table-striped text-center">
                    <thead>
                        <tr class="table-dark">
                            <th scope="col">#</th>
                            <th scope="col">Donor name</th>
                            <th scope="col">Address to collect</th>
                            <th scope="col">Phone</th>
                            <th scope="col">Actions</th>
                        </tr>
                    </thead>
                    <tbody>
                        <% for(let i=0; i<pendingCollections.length; i++) { %>
                            <tr>
                                <th scope="row"> <%= i+1 %> </th>
                                <td> <%= pendingCollections[i].donor.firstName + " " + pendingCollections[i].donor.lastName %> </td>
                                <td> <%= pendingCollections[i].address %> </td>
                                <td> <%= pendingCollections[i].phone %> </td>
                                <td>
                                    <a href="/agent/collection/view/<%= pendingCollections[i]._id %>" class="btn">View</a>
                                    <a href="/agent/collection/collect/<%= pendingCollections[i]._id %>" class="btn">Collect</a>
                                    <a href="/agent/collection/cancel/<%= pendingCollections[i]._id%>" class="btn">Cancel</a>
                                </td>
                            </tr>
                        <% } %>
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>
</div>
<%- include('../partials/footer') %>